<div class="background">

<button mat-raised-button color="primary" class="btns" (click)="back()">Back</button>
<br><br><br><br><br><br><br><br>
<form class="example-form" [formGroup]="loginForm">
    <h2><strong>Owner Login</strong></h2>
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="userName">
    </mat-form-field> <br>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" (click)="login()">Login</button> &nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/owner/ownersignup" mat-raised-button color="accent">New Owner?</a>

</form>
</div>