.container {
    background-image: url('../../assets/images/HotelPage.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.btns {
    padding: 6px 6px;
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    
}