<div class="background">

    <button mat-raised-button color="primary" class="btns" (click)="back()">Back</button>
    <br><br><br><br>
    <form class="example-form" [formGroup]="adminForm">
        <br>
        <h2><strong>Admin Login</strong> </h2>
        <mat-form-field class="example-full-width">
            <mat-label>Admin</mat-label>
            <input matInput type="text" formControlName="admin">
        </mat-form-field> <br>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>
    
        <button mat-raised-button color="primary" (click)="admin()">Admin</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a routerLink="/owner/ownersignup" mat-raised-button color="accent">New Owner?</a> -->
        <br><br>
    
    </form>
    </div>
