<div class="background">

    <button mat-raised-button color="primary" class="btns" (click)="back()">Back</button>
    <form class="example-form" [formGroup]="adminForm">
        <h2><strong>Admin Login</strong></h2>
        <mat-form-field class="example-full-width">
            <mat-label>Admin</mat-label>
            <input matInput type="text" formControlName="adminName" required>
            <mat-hint>
                Hint:Enter Admin ID here
            </mat-hint>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-hint>
                Hint:Enter Password here
            </mat-hint>
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
</div>
