.btns{
    margin: 5px;
}
.example-form{
    text-align: center;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 250px;
    height: auto;
    margin: 100px 900px;
    border-radius: 10px;
    padding: 20px 20px;

}
.background{
    background-image: url('../../assets/images/hotel_staff_05.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 100%;

}
