.btns{
    margin: 5px;
}
.example-form{
    text-align: center;
    border: 1px solid;
    box-shadow: inset;
    border-radius: 15px;
    background-color: rgba(7, 97, 60, 0.445);
    width: 250px;
    height: auto;
    margin-left: 100px;
    margin-top: 90px;
}
.background{
    background-image: url('../../assets/images/king-crown-with-royal-classic-hotellogo.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position:center ;
    // background-size: cover;
    background-color: rgba(3, 3, 3, 0.541);
}
