.btns {
    margin: 20px;
}
mat-card{
    width: 35%;
    height: auto;
    background-color: #d7e1e657;
    margin: auto;
    border: 1px solid #fff;
}
h2{
    text-align: center;
}
.bg {
    background-image: url('../../../assets/images/hotel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}