.btns {
    margin: 20px;
}
mat-card{
    width: 37%;
    height: auto;
    background-color: #0f59e45b;
    color:red;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 25px;
}
h2{
    text-align: center;
}
.bg {
    background-image: url('../../../assets/images/king-crown-with-royal-classic-hotellogo.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    height: 100%;
}