.bg {
    background-image: url('../../../assets/images/hotel\ front.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.button{
    text-align: center;
    align-content:center;
    border-color: #fff;
    border-radius: 10px ;
}
table,tr,th,td{
    border:2px solid rgb(10, 10, 10);
    color: black;
    border-collapse: collapse;
    padding: 5px 5px;
    background-color: rgba(173, 216, 230, 0.733);
    margin: auto;
}